* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #efefef;
}

#root {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('./Assets/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 5vh;
}
a,a:focus,a:visited {
	text-decoration: none;
	color: white;
}
.content,
.header {
	padding: 50px;
}

.header {
	height: 70vh;
}

.header>img {
	height: 25vh;
	width: 25vh;
	position: absolute;
	z-index: 2;
	border-radius: 10%;
}

.header_image-1 {
	top: 2vh;
	right: 2vh;
}

.header_image-2 {
	bottom: 32vh;
	right: 90vh;
}

.header_image-3 {
	bottom: 30vh;
	right: 0;
	height: 25vh !important;
	width: unset !important;
}

.header_image-4 {
	top: 2vh;
	right: 90vh;
	height: 25vh !important;
	width: unset !important;
}

.header>video {
	height: 40vh;
	position: absolute;
	top: 15vh;
	right: 20vh;
	z-index: 1;
}

.name {
	font-size: 7vh;
	margin-top: 20vh;
}

.college,
.details {
	margin-left: 1vh;
	font-weight: bold;
	font-size: 2.2vh;
}

h3 {
	text-align: center;
	font-size: 5vh;
	margin-top: 5vh;
	margin-bottom: 2vh;
}

h4 {
	font-size: 3.5vh;
}

ul {
	list-style: none;
}

.flex-box {
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 20vh;
}

p {
	font-size: 2.5vh;
}

.course_list>li {
	font-size: 2.5vh;
}

.flexcard_half {
	width: 50%;
	text-align: center;
	min-width: 300px;
}

.flexcard_quarter {
	width: 25%;
	min-width: 200px;
	text-align: center;
}

.content-box {
	margin-top: 6vh;
}

a {
	text-decoration: none;
}



@media (max-width: 1000px) {

	.header_image-1,
	.header_image-2,
	.header_image-3,
	.header_image-4 {
		display: none;
	}

	.header>video {
		position: unset;
	}

	.name {
		margin-top: 2vh;
	}

	.header {
		padding: 0;
		text-align: center;
	}

	.header>video {
		width: 100%;
		height: unset;
		margin-top: 5vh;
	}
}